// Mixins Here
.btn {
    width: 70%;
    height: 0 auto;
    margin: 0 2% 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    background-color: deepskyblue;
    color: black;   
    border-radius: 10px;
    @media @phone{
        width:100%;
        margin: 5% 0 10%;
    }
}

.navmobile{
    font-size: 1.25rem;
    color:red;
    &hover &active{
        background-color: deepskyblue;
    }
}